.container {
  width: 85%;
  margin: auto;
}

nav {
  height: 3em;
}

nav .responsive-image {
  position: relative;
  top: -0.2em;
  height: 1.7em;
}

.boards .board-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.board {
  margin: 1em;
  width: 15em;
  height: 8em;
}

.boards .card-title {
  font-weight: 200 !important;
  font-size: 0.9em !important;
  font-family: "Alfa Slab One", cursive;
  text-shadow: 1.25px 1.25px black;
  position: relative;
  top: -1.5em;
  left: -1em;
}

.boards .board-card {
  background: no-repeat center;
  background-size: cover;
  cursor: pointer;
}

.lists-section {
  margin: auto;
  height: 60em;
  background: no-repeat center;
  background-size: cover;
}

.lists-section .board-name {
  position: relative;
  top: -0.25em;
  left: 1.2em;
  font-size: 1.55em !important;
  font-weight: 600 !important;
  color: #172b4d;
}

.lists {
  display: flex;
  overflow-x: scroll !important;
  height: 55em;
}

.list {
  margin: 1em;
  height: 45em;
  width: 18em;
  background-color: #ebecf0;
}

.list-title {
  position: relative;
  top: -1.15em;
  left: -0.2em;
  font-size: 0.9em !important;
  font-weight: bolder !important;
  color: #172b4d;
  line-height: 1.35em !important;
}

.cards-section {
  height: 45em;
  width: 18em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.trello-card-row {
  display: flex;
}

.trello-card {
  position: relative;
  height: 6em;
  width: 17em;
  margin-bottom: 0;
  padding-bottom: 0;
}

.trello-card-title {
  font-size: 1em !important;
  width: 16em;
  line-height: 1.5em !important;
  position: relative;
  left: -1.2em;
  top: -1em;
}

.desc-icon {
  position: relative;
  left: -1.1em;
  top: -1.2em;
  font-size: 1em !important;
  color: darkgreen;
}
